:root{
    --accent-color: #03a9f4;
    --text-color: #626262;
    --pre-title-color: #B4AD9E;
}

Body{
    color:var(--text-color)
}
.container {
    width: 936px;
    margin: 0 auto;
    padding: 0 15px;
    outline: solid fuchsia;
}
.invisible {
    display: none;
}